.wrap {
	overflow: hidden;
}

.normal_header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 106px;
	padding-right: 61px;
	background-color: rgba(36, 95, 65, 1);
	z-index: 1;
}

.logo {
	padding: 0 61px;
}

.logo img {
	width: 175px;
}

.footer {}

.noraml_menu {
	display: flex;
}

.normal_menu_item {
	color: rgba(255, 255, 255, 1);
}

.normal_menu_item+.normal_menu_item {
	margin-left: 28px;
}

.normal_iconBox {
	display: flex;
	margin-left: auto;
}

.normal_icon {
	display: block;
	width: 24px;
	height: 24px;
}

.normal_icon+.normal_icon {
	margin-left: 20px;
}

.normal_icon._user {
	background: url('./images/icon_user.svg');
}

.normal_icon._search {
	background: url('./images/icon_search.svg');
}

.normal_icon._cart {
	background: url('./images/icon_cart.svg');
}


/* .near {
	height: 1067px;
	background: url('./images/terra.png')no-repeat center/cover;
} */

.normal_picGroup {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 1154px;
}

.normal_picItem {}

.normal_picItem:nth-child(1) {
	width: 100%;
	height: 734px;
	background-image: url('./images/pic1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
	background-size: cover;
}

.normal_picItem:nth-child(2) {
	width: 50%;
	height: 420px;
	background-image: url('./images/pic2.png');
}

.normal_picItem:nth-child(3) {
	width: 50%;
	height: 420px;
	background-image: url('./images/pic3.png');
}

.normal_stick {
	position: relative;
	padding-top: 288px;
	padding-bottom: 225px;
	background-color: rgba(36, 95, 65, 1);
	background-image: url('./images/nutrition_txt.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center bottom;
}

.normal_stick_txt {
	position: relative;
	color: rgba(255, 255, 255, 1);
	font-size: 44px;
	font-weight: 500;
	text-align: center;
	z-index: 1;
}

.normal_stick_plant {
	position: relative;
	width: 494px;
	margin: 18px auto 0;
	transform: translateX(-52px);
}

.normal_stick_terra {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -180px;
	display: flex;
	justify-content: center;
}

.normal_stick_terra .center {
	position: relative;
	width: 704px;
}

.normal_stick_terra .right {
	position: absolute;
	bottom: 55px;
	right: -25px;
	width: 1238px;
}

.normal_step {
	display: flex;
	padding-top: 112px;
	padding-bottom: 22px;
}

.normal_step_item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: calc(100% / 4);
	padding-top: 106px;
	padding-bottom: 106px;
}

.normal_step_item+.normal_step_item:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	height: 100%;
	background-color: rgba(36, 95, 65, 0.1);
}

.normal_step_item .pic {
	width: 104px;
	text-align: center;
}

.normal_step_item:nth-child(1) img {
	width: 42px;
}

.normal_step_item:nth-child(2) img {
	width: 47px;
}

.normal_step_item:nth-child(3) img,
.normal_step_item:nth-child(4) img {
	width: 72px;
}

.normal_step_item .txt {
	margin-top: 11px;
	color: rgba(36, 95, 65, 1);
	font-size: 20px;
	font-weight: 500;
	list-style: 30px;
}

.normal_p2 {
	position: relative;
	width: 100%;
	/* height: 619px; */
	/* background: url('./images/p2.jpg')no-repeat center/contain; */
}

.normal_p2_txt {
	position: absolute;
	top: 389px;
	right: 21px;
	width: 525px;
	padding: 54px 56px;
	background-color: rgba(36, 95, 65, 1);
	color: #fff;
}

.normal_p2_title {
	font-weight: 500;
	font-size: 32px;
	line-height: 45px;
}

.normal_p2_p {
	position: relative;
	margin-top: 24px;
	padding-right: 40px;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}

.normal_shop {
	padding-top: 119px;
	padding-left: 123px;
	background: url('./images/bg_shop.png')no-repeat center/contain, rgba(25, 62, 36, 1);
}

.normal_shop_title {
	color: #fff;
	font-weight: 500;
	line-height: 62px;
	font-size: 44px;
}

.normal_shop_title::before {
	content: "Spray to go!";
	display: block;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
}


.normal_shop_group {
	display: flex;
	align-items: flex-end;
	width: 100%;
	margin-top: 75px;
}

.normal_shop_item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 244px;
	flex-direction: column;
	color: #fff;
}

.normal_shop_item+.normal_shop_item {
	margin-left: 66px;
}

.normal_shop_item img {
	width: auto;
}

.normal_shop_name {
	margin-top: 23px;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
}

.normal_shop_money {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	letter-spacing: 0.5px;
}

.normal_shop_money:after {
	content: attr(data-txt);
	font-weight: 600;
	font-size: 12px;
	line-height: 28px;
}

.normal_shop_btn {
	width: 140px;
	height: 40px;
	margin-top: 4px;
	border-radius: 6px;
	background-color: rgba(15, 89, 52, 1);
	color: #fff;
}

.normal_title {
	font-weight: 500;
	font-size: 44px;
	line-height: 62px;
	color: rgba(36, 95, 65, 1);
	text-align: center;
}

.normal_easy {
	overflow-x: hidden;
	max-width: calc(997px + 104px);
	margin: auto;
	padding-top: 145px;
	text-align: center;
}

.normal_easy_pics {
	display: flex;
	margin-top: 80px;
}

.normal_easy_pic {
	flex: none;
	width: 263px;
	height: 263px;
	margin: 0 52px;
	padding: 27.5px;
	transform: translateX(0);
	transition-duration: .3s;
}

.normal_easy_pic.on {
	padding: 0;
}

.normal_easy_txt {
	width: 634px;
	font-weight: 500;
	font-size: 20px;
	line-height: 35px;
	color: rgba(36, 95, 65, 1);
}

.normal_easy_txt:after {
	content: attr(data-txt);
	display: block;
	margin-top: 14px;
	font-weight: 700;
	font-size: 16px;
	color: rgba(80, 80, 80, 1);
	line-height: 24px;
}

.normal_easy_info {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.normal_easy_info::before,
.normal_easy_info::after {
	content: "";
	flex: none;
	display: block;
	width: 35px;
	height: 64px;
}

.normal_easy_info::before {
	background: url('./images/icon_iil.svg')no-repeat center/contain;
}

.normal_easy_info::after {
	background: url('./images/icon_iir.svg')no-repeat center/contain;
}

.normal_dots {
	display: flex;
	justify-content: center;
	margin-top: 36px;
}

.normal_dot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	border-radius: 100%;
	cursor: pointer;
}

.normal_dot.on {
	border: 0.5px solid rgba(36, 95, 65, 1);
}

.normal_dot::before {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background-color: rgba(128, 128, 128, 1);
	border-radius: 100%;
}

.normal_dot.on::before {
	background-color: rgba(36, 95, 65, 1);
}

.normal_dot:hover::before {
	background-color: rgba(36, 95, 65, 1);
}

.normal_secret {
	margin-top: 120px;
}

.normal_secret_group {
	display: flex;
	margin-top: 80px;
	transition-duration: .3s;
}

.normal_secret_item {
	flex: none;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	width: 388px;
	height: 293px;
	margin: 0 19px;
	padding-top: 54px;
	padding-left: 70px;
	padding-bottom: 40px;
	color: #fff;
}

.normal_secret_txt {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
}

.normal_secret_more {
	position: relative;
	padding-right: 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.normal_secret_more:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 1);
}

.footer {
	padding-top: 223px;
}

.footer_box {
	display: flex;
	justify-content: space-between;
	padding-left: 145px;
	padding-right: 103px;
}

.footer_box_ul {
	color: #245F41;
	line-height: 32px;
}

.footer_box_lititle {
	font-weight: 700;
	font-size: 22px;
	line-height: 32px;
}

.footer_box_li {
	font-weight: 500;
	font-size: 16px;
	line-height: 32px;
}

.footer_box_cpright {
	font-weight: 400;
	font-size: 10px;
	line-height: 28px;
}

.footer_box_liicon {
	display: flex;
	margin-top: 16px;
}

.icon_ig {
	margin-left: 26px;
}

.footer_box_serve {
	display: flex;
	color: #4A4A4A;
}

.footer_box_serve li {
	line-height: 32px;
}

.footer_box_serve li+li {
	margin-left: 45px;
}

.footer_box_atitle {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
}

.footer_box_alist {
	display: block;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}

.normal_circle {
	pointer-events: none;
	position: absolute;
	top: 225px;
	left: 0;
	right: 0;
	width: 1086px;
	height: 1086px;
	margin: auto;
	border: 0.5px solid rgba(255, 255, 255, .3);
	border-radius: 50%;
}

.normal_shimmer {
	position: absolute;
	inset: -40px;
	border-radius: inherit;
	mask-image: conic-gradient(from var(--shimmer, 0deg),
			transparent 0%,
			transparent 10%,
			black 36%,
			black 45%,
			transparent 50%,
			transparent 60%,
			black 85%,
			black 95%,
			transparent 100%);
	mask-size: cover;
	mix-blend-mode: plus-lighter;
	animation: shimmer 8s linear infinite both;
}

.normal_shimmer::before,
.normal_shimmer::after {
	transition: all 0.5s ease;
	opacity: 1;
	content: "";
	border-radius: inherit;
	position: absolute;
	mix-blend-mode: color;
	inset: 40px;
	pointer-events: none;
	animation: shine 1.2s ease-in 1 infinite both;
}

.normal_shimmer::before {
	box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
		0 0 7px 4px hsl(var(--glow-hue) 20% 80%);
	z-index: -1;
}

.normal_shimmer::after {
	box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
		inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%);
	z-index: 2;
}

:root {
	--glow-hue: 222deg;
	--shadow-hue: 180deg;
	--spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
			1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
			1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
			0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
			0.998 84%, 1);
	--spring-duration: 1.33s;
}



@keyframes shimmer {
	0% {
		opacity: 0;
		transform: rotate(360deg);
	}

	15% {
		opacity: 1;
	}

	55% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: rotate(0deg);
	}
}

.normal_banner {
	position: relative;
	width: 100%;
	/* padding-bottom: 50px; */
	background-color: rgba(36, 95, 65, 1);
}

.normal_banner_terraTop,
.normal_banner_bg1 {
	position: relative;
}

.normal_banner_bg1 {
	padding-top: 200px;
	background: url('./images/terra_bottom.png')no-repeat center top/200%;
}

.normal_banner::before {
	content: "";
	display: block;
	width: 100%;
	height: var(--normalH);
	/* max-height: 70vh; */
}

.normal_banner_item {
	/* pointer-events: none; */
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 1;
	height: 200vh;
	min-height: var(--normalH);
	transform-origin: bottom center;
	transform: rotate(45deg);
	opacity: 0;
	transition-duration: 2.5s;
}

.normal_banner_item.on {
	opacity: 1;
	transform: rotate(0deg);
}

.normal_banner_item.on.out {
	opacity: 0;
	transform: rotate(-45deg);
}

.normal_banner_item._first {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.normal_banner_img {
	width: 472px;
	margin: 0 auto;
}

.normal_banner_img1_1 {
	position: absolute;
	top: 655px;
	left: 109px;
	right: 0;
	width: 167px;
	margin: auto;
}

.normal_banner_txtBox {
	position: absolute;
	top: 338px;
	left: 120px;
	color: #fff;
	z-index: 1;
}

.normal_banner_txtTitle {
	font-weight: 400;
	font-size: 64px;
	line-height: 120px;
	opacity: 0;
	transform: translateX(50px);
	transition-duration: 2s;
}

.normal_banner_txt {
	font-weight: 400;
	font-size: 20px;
	list-style: 20px;
	opacity: 0;
	transform: translateX(50px);
	transition-duration: 2s;
	transition-delay: .3s;
}

.normal_banner_txtBox.on .normal_banner_txtTitle,
.normal_banner_txtBox.on .normal_banner_txt {
	transform: translateX(0);
	opacity: 1;
}

.normal_banner_txtBox.on.out .normal_banner_txtTitle,
.normal_banner_txtBox.on.out .normal_banner_txt {
	transform: translateX(-50px);
	opacity: 0;
}

.normal_banner_wt {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-49%);
}

.normal_banner_bg1txt {
	position: absolute;
	right: 128px;
	bottom: 476px;
	display: inline-block;
	max-width: 492px;
	padding: 72px 55px 101px 69px;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	background-color: rgba(36, 95, 65, 1);
	color: #fff;
}

.normal_banner_bg1txt::before {
	content: attr(data-txt);
	display: block;
	font-weight: 500;
	font-size: 32px;
	line-height: 45px;
}

.normal_banner_bg1>img {
	position: relative;
}

.normal_stick_pic1 {
	position: absolute;
	top: 120px;
	right: 0;
}

.normal_stick_stick1 {
	position: relative;
	width: 290px;
}

.normal_stick_stick2 {
	position: absolute;
	top: 0;
	right: 105px;
	width: 550px;
	transition-duration: .3s;
}

.normal_stick_stick2:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(36, 95, 65, 1);
	transition-duration: 1s;
	transform: translateX(0);
}

.normal_stick.active .normal_stick_stick2:after {
	transform: translateX(-100%);
}

.normal_stick_pic2 {
	position: absolute;
	left: 0;
	bottom: 200px;
}

.normal_stick_stick3 {
	width: 700px;
}

.icon_more {
	width: 20px;
	height: 20px;
	margin-left: 3px;
	background: url('./images/Icon_more.svg')no-repeat center/contain;
}

.normal_p2_more {
	position: absolute;
	bottom: 0;
	right: 95px;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #fff;
	transform: translateY(100%);
}